#geral{
    width: 500px;
    min-height: 600px;
    padding: 10px;
    margin: 20px auto;
    font-family: Verdana;
}

h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #1e3c58;
}

